@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    text-align: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 50px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid;
}

p {
    font-size: 60px;
    margin-top: 15px;
}

.gameboard {
    display:flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
    margin: auto;
}

.btn {
    margin-top: 20px;
}

.statusprompt {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin-top: 20px;
}
